:root {
  --font-family-base: Arial, sans-serif;

  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
